body {
    background-color: rgb(254, 240, 165);
}

#yourmom {
    position: relative;
    animation-name: shrinkgrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes shrinkgrow {
    0% {
        height: 5000px;
        transform: rotate(0deg);
    }

    50% {
        height: 1000px;
        transform: rotate(180deg);
    }

    100% {
        height: 500px;
        transform: rotate(360deg);
    }
}